iframe {
  borde : 0
}

una , el botón {
  color : # 007aff ;
  decoración de texto : ninguno
}

html {
  fondo : # efeff4
}

html . representación {
  fondo : 0  0
}

cuerpo {
  fuente : 16 px -apple-system-font , ".Helvetica NeueUI" , "Helvetica Neue" , sans-serif;
  margen : 80 px  0  35 px
}

. cuerpo de cydia  {
  margen superior : 35 px
}

. cuerpo de representación  {
  margen superior : 0 ;
  margen inferior : 0
}

@media ( ancho mínimo : 708 px ) {
# contenido {
  ancho : 708 px ;
  margen : 0 automático
}
}

@media ( ancho mínimo : 964 px ) {
# contenido {
  ancho : 964 px
}
}

cuerpo > p , h2 , encabezado . fecha , p [ clase = "pie de página" ] {
  margen : 15 px ;
  color : # 6d6d72 ;
  tamaño de fuente : 14 px ;
  peso de fuente : 400
}

@media ( ancho mínimo : 708 px ) {
cuerpo > p , h2 , p [ clase = "pie de página" ] {
  margen izquierdo : 0 ;
  margen derecho : 0
}
}

h2 , encabezado . fecha {
  transformación de texto : mayúscula;
  margen inferior : 5 px
}

h2  a , encabezado h2  . fecha , encabezado h2 . fecha { 
  color : heredar
}

h2  a : activo , h2  a : foco , h2  a : desplazamiento , encabezado h2  . fecha , encabezado h2 . fecha { 
  decoración de texto : subrayado
}

h {
  borde : 0 ;
  borde superior : 1 px sólido # c8c7cc
}

cuerpo > encabezado {
  posición : fija;
  arriba : 0 ;
  izquierda : 0 ;
  ancho : 100 % ;
  altura : 44 px ;
  índice z : 10 ;
  fondo : # f7f7f7 ;
  borde inferior : 1 px sólido # c9c9cd
}

cuerpo > encabezado  h1 {
  margen : 0 ;
  alinear texto : centro;
  tamaño de fuente : 18 px ;
  altura de línea : 44 px ;
  peso de fuente : 500
}

. cuerpo de cydia  > encabezado {
  pantalla : ninguno
}

. cuerpo de cydia  > encabezado + p {
  margen superior : -20px
}

ul {
  margen : 5 px  0  35 px ;
  relleno : 0 ;
  estilo de lista : ninguno;
  fondo : # fff
}

ul : después , ul : antes {
  contenido : "" ;
  pantalla : bloque;
  altura : 1 px ;
  fondo : # c8c7cc
}

@media ( ancho mínimo : 708 px ) {
ul : después , ul: antes {
  pantalla : ninguno
}
}

ul li {
  b o der - bot a m: 1px solid # c8c7cc ;
  margen izquierdo : 15 px;
  relleno : 13px 15px 13px 0
}

ul  li : último hijo {
  borde inferior : 0
}

ul . botón , ul  li [ rol = "enlace" ] , ul  li  p {
  relleno : 13 px  15 px ;
  margen : -13px -15px
}

ul . botón + p , ul  li [ rol = "enlace" ] + p , ul  li  p + p {
  relleno superior : 0 ;
  margen superior : 0
}

ul . botón , ul  li [ rol = "enlace" ] {
  pantalla : bloque;
  color : # 007aff ;
  relleno derecho : 30 px ;
  posición : relativa;
  índice z : 2
}

ul . button : after , ul  li [ role = "link" ]: after {
  contenido : "" ;
  pantalla : bloque;
  fondo : url (datos: image / svg + xml; base64 , PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI5OSI + PHBvbHlnb24gcG9pbnRzPSIzNC43LDQ5LjcgMCw4NC40IDE1LjEsOTkuNSA2NC44LDQ5LjcgNDkuNywzNC43IDE1LjEsMCAwLDE1LjEiIHN0eWxlPSJmaWxsOiNjN2M3Y2MiLz48L3N2Zz4 =) 0  0 / 100 %  100 % ;
  posición : absoluta;
  arriba : 50 % ;
  derecha : 15 px ;
  ancho : 10 px ;
  altura : 13 px ;
  margen superior : -6.5 px
}

ul  li > botón {
  fuente : heredar;
  ancho : 100 % ;
  alinear texto : izquierda
}

ul  li . pull-in {
  alineación vertical : arriba
}

@media ( ancho máximo : 708 px ) {
ul  li . pull-in {
  margen : -13px -15px
}
}

ul + [ clase = "pie de página" ] , ul + p {
  margen superior : -25px
}

img {
  ancho máximo : 290 px
}

blockquote {
  borde izquierdo : 4 px sólido # c9c9cd ;
  margen izquierdo : 20 px ;
  relleno-izquierda : 8 px ;
  estilo de fuente : cursiva
}

código {
  Familia tipográfica : "Source Code Pro" , Mónaco , Menlo , Consolas , monoespacio
}

cabecera . fecha {
  flotador : derecho;
  margen superior : 0 ;
  margen inferior : 0
}

@media ( ancho mínimo : 708 px ) {
cabecera . fecha {
  margen izquierdo : 0 ;
  margen derecho : 0
}
}

pie de página : primer hijo {
  margen superior : 0
}

pie de página : último hijo {
  margen inferior : 0
}

. nav  a , pie de página  a {
  margen derecho : 15 px
}

# sobre {
  margen : 0  15 px  40 px
}

. cydia  # sobre {
  pantalla : ninguno
}

. cydia  # abierto {
  pantalla : ninguno
}

@media ( ancho mínimo : 708 px ) {
# sobre {
  margen izquierdo : 0 ;
  margen derecho : 0
}
}
